section {
    width: 100%;
    height: auto;
}

/* Sections1 */
#showcase1 {
    margin-top: 130px;
}

#showcase1 #grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

#items {
    padding: 20px 40px;
}

#items .item {
    margin-top: 20px;
}

#items .item:nth-child(1) {

    animation: slideleft 1s linear forwards;
}

#items .item:nth-child(2) {
    animation: slideleft2 1.1s linear forwards;
}

#items .item:nth-child(3) {
    animation: slideleft3 1.6s linear forwards;
}

/* Animations 1*/

@keyframes slideleft {
    0% {
        transform: translate(0);
        opacity: 0;

    }

    20% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideleft2 {
    0% {
        transform: translate(0);
        opacity: 0;
    }

    50% {
        transform: translate(-100px);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slideleft3 {
    0% {
        transform: translate(0);
        opacity: 0;
    }

    60% {
        transform: translate(-100px);
        opacity: 0;
    }

    80% {
        transform: translate(20px);
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: translate(0);
        opacity: 1;
        transform: scale(1);
    }
}



#grid-item-2 {
    border: 3px solid rgba(210, 210, 210, 0.289);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    animation: slideMenu 1s linear forwards;
}

/* Animations 2*/

@keyframes slideMenu {
    0% {
        transform: translate(70px);
    }

    100% {
        transform: translate(0px);
    }
}

#grid-item-2 #image {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#grid-item-2 #image img:nth-child(1) {
    width: 300px;
    box-shadow: 0px 5px 20px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 50px;
    transform: rotate(-35deg);
    margin-right: 100px;
    border-radius: 20px;
    right: 330px;
    animation: rotateAni2 1s linear forwards;

}

#grid-item-2 #image img:nth-child(2) {
    width: 200px;
    position: absolute;
    top: 20px;
    border-radius: 50px;
    animation: rotateAni1 0.7s linear forwards;
    right: 20px;
}


#grid-item-2 #image img:nth-child(3) {
    border-radius: 40px;
}

@keyframes rotateAni1 {
    0% {
        transform: rotate(80deg);
        opacity: 0;
    }

    100% {
        transform: rotate(25deg);
        opacity: 1;
    }
}

@keyframes rotateAni2 {
    0% {
        transform: rotate(-70deg);
        opacity: 0;
    }

    100% {
        transform: rotate(-35deg);
        opacity: 1;
    }
}




#showcase1 #try-btn {
    padding: 10px 50px;
    cursor: pointer;
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
    font-weight: 500;
    border: 0;
    color: #292929f2;
    outline: 0;
    background-image: linear-gradient(48deg, rgb(236, 114, 14), rgb(248, 181, 49));
    border-radius: 4px;
    box-shadow: 0px 0px 25px 3px rgba(40, 40, 40, 0.127);
    transition: all 0.3s ease-in-out;
    animation: slideleft3 1.7s linear forwards;
}

#showcase1 #try-btn:hover {
    background-image: linear-gradient(192deg, rgb(236, 114, 14), rgb(248, 181, 49));
    transform: scale(1.020);
}



/* Section 2 */

#showcase2 {
    margin: 200px 0;
}


#showcase2 .resources .resources-box {
    width: 60%;
    border: 3px solid rgba(210, 210, 210, 0.289);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: auto;
}

.resources-tittleBox {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 30px;
}

.resources-contentBox {
    height: 70%;
    width: 100%;
}

#resources-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#resources-logo span:nth-child(1) {
    padding: 10px;
    border: 1px solid rgba(190, 190, 190, 0.211);
    border-radius: 50%;
    font-size: 40px;
    background: #e7e7e7f2
}

#resources-content {
    text-align: center;
}

.resource-photo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-photo img {
    width: 800px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 2px rgba(200, 200, 200, 0.374);
}









/* Search Image Sections */

.general-box {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 130px 30px 0 30px;

}

#gb2 {

    height: 100vh;
    padding: 160px 5px 0 5px;
    /* height: auto; */
}

.general-box .flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.general-box .flex .flex-item {
    margin: 30px;
}


/* Search */
#search-input-box {
    width: 60%;
    height: auto;
    padding: 14px;
    margin: 0 30px;
}

.shake {
    animation: shake 0.5s ease-in-out 3;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}


#search-input-box input {
    border: 2px solid rgba(164, 164, 164, 0.534);
    outline: 0;
    width: 90%;
    height: 60px;
    padding: 10px;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 22px;
    transition: all 0.4s ease;
    color: rgb(40, 40, 40);
    font-weight: 500;
}

#search-input-box input:focus {
    border: 2px solid var(--OrangeTheme);

}

#search-btn {
    width: 100px;
    height: 60px;
    border-bottom-right-radius: 23px;
    border-top-right-radius: 23px;
    border: 1px solid rgba(164, 164, 164, 0.534);
    border-left: 0;
    margin-left: -2px;
    background: rgb(255, 136, 0);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-btn:hover {
    background-color: rgb(41, 165, 103);
}

#search-btn span {
    font-size: 40px;
    padding-top: 3px;
    color: var(--textColorWhite);
}

/* Önceki sayfa buton */
#back-button,
#favoritePic-button {
    position: absolute;
    top: 22px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(20deg, rgb(255, 106, 0), orange);
    border-radius: 20px;
    border: 0;
    z-index: 100;
}

#back-button {
    left: 30px;
}

#favoritePic-button {
    right: 30px;
}

#back-button span {
    font-size: 40px;
    padding-left: 8px;
    color: var(--textColorWhite);
    cursor: pointer;
}

#favoritePic-button span {
    font-size: 38px;
    padding-left: 9px;
    padding-top: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* Resimlerin Listelenmesi */



#show-more-btn:hover {
    background-color: rgb(255, 140, 0);
}

.search-results {
    padding: 30px;
    width: 98%;
    border-radius: 10px;
}

.grid-container {
    width: 100%;
    columns: 3;
    column-gap: 15px;
    padding: 15px;
}


.image-box .result-image {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 5px solid rgba(210, 210, 210, 0.866);
    transition: transform 0.4s ease;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
}



.image-box {
    background-image: url("/images/findVector.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}


.general-box .picture {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}



.general-box .picture button {
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    top: 85%;
    opacity: 0;
    position: absolute;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    z-index: 3;
}

.general-box .picture:hover button {

    top: 70%;
    opacity: 1;
    box-shadow: 0 26px 58px 0 rgba(19, 19, 19, 0.199), 0 5px 14px 0 rgba(0, 0, 0, 0.103);
    /* Box-shadow efekti */
}

.general-box .picture button span {
    font-size: 30px;
    padding-left: 8px;
  
}

.general-box .picture .look-image-btn {
    right: 24%;
    background-color: var(--OrangeTheme);
    color: var(--textColorWhite);

}

.general-box .picture .like-image-btn {
    left: 28%;
    background-color: #f3f3f3c3;
    backdrop-filter: blur(10px);
    color: rgb(235, 108, 17);
}





/* Show more buton */

#show-more-btn {
    padding: 10px 20px;
    font-size: 23px;
    background-color: var(--OrangeTheme);
    color: #212121;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    transition: background-color 0.4s ease;
    display: none;
}


/* Loading  */

.loading-overlay {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.7s ease;
}

.loader {
    border: 4px solid rgb(47, 47, 47);
    border-top: 4px solid var(--OrangeTheme);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Error  */

.alert-box {
    width: 300px;
    height: 100px;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: #ffffff;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    border-radius: 3px;
    box-shadow: 0px 0px 30px 3px rgba(37, 37, 37, 0.226);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(225, 18, 18);
    z-index: 101;
    animation: errorShow 1s linear forwards;
    opacity: 1;
    transition: opacity 1s ease;

}

.alert-box .active {
    animation: errorShow 1s linear forwards;
}

@keyframes errorShow {
    0% {
        top: -25%;
    }

    20% {
        top: -20%;
    }

    50% {
        top: -10%;
    }

    100% {
        top: 4%;
    }
}

.alert-box .alert-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.alert-box .alert-flex img {
    width: 50px;
    margin-right: 23px;
}

#accept-error-message {
    border: 0;
    border-radius: 30px;
    background: rgba(200, 200, 200, 0.745);
    color: #4d4d4d;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 10px;
}

/* Yukarı çıkma butonu */

#up-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--OrangeTheme);
    color: var(--textColorWhite);
    border: none;
    border-radius: 10%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 999;
}

#up-button:hover {
    background-color: rgb(53, 159, 85);
}

#up-button span {
    font-size: 23px;
    margin-left: 8px;
    margin-top: 3px;
}

/* 
Seçilen Fotoğrafı Gösterme */

.selected-image-box {
    z-index: 1000;
    background: rgba(32, 32, 32, 0.93);
    backdrop-filter: blur(7px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;

}

#CreatorBox{
    margin: 18px 0;
}

#closeButton {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    z-index: 3000;
    padding: 20px;
    background-color: transparent;
    border: 0;
    color: var(--textColorWhite);
    font-size: 0px;
    cursor: pointer;
}

#closeButton span {
    font-size: 50px;
    color: var(--textColorWhite);
}




.image-infos {
    margin: 0 30px;
    height: auto;

    border-radius: 8px;
}

.ii-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ii-flex-item2 {
    padding: 30px;
    color: #fff;
    width: 400px;
}

.ii-flex-item1 img {
    border-radius: 14px;
    max-height: 96vh;
}

.ii-flex-i2-style {
    margin-top: 14px;
}

.selected-image-box #creatorPPImg {
    border-radius: 50%;
    margin-right: 6px;
}

.selected-image-box #creatorName {
    font-weight: 600;
    font-size: 25px;
     margin-left: 10px;

}


.download-box {
    margin-bottom: 25px;
}

#downloadLink {
    border: 0;
    padding: 9px 119px;
    background-image: linear-gradient(45deg, rgb(255, 125, 3), rgb(255, 140, 0));
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
#downloadLink:hover {
    background-image: linear-gradient(65deg, rgb(255, 123, 0), rgb(255, 106, 0));
}


.allLikes-Box {
    margin-bottom: 50px;
    background-color: #aaaaaa2d;
    border-radius: 30px;
    padding: 6px 0;
}

.allLikes-Box span {
    font-size: 22px;
}

.allLikes-Box span:nth-child(1) {
    color: rgba(255, 115, 0, 0.941);
    font-size: 25px;
}


#source-btn {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-image: linear-gradient(160deg, rgb(22, 187, 72), rgb(42, 150, 42));
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
   margin-top: 23px;
}

/* Beğenilen Fotoğrafların Tümünü Sil */

#deleteAllImages {
    position: absolute;
    display: none;
    right: 0px;
    top: 0px;
    padding: 9px 20px;
    background: var(--OrangeTheme);
    font-size: 17px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: var(--textColorWhite);
    transition: all 0.3s ease;
}

#deleteAllImages:hover,
#confirmButton:hover {
    background-color: rgb(255, 136, 0);
}


/* Modal */

#noFoundBackground {
    width: 100%;
    max-height: 500px;
    display: none;

}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.619);
    backdrop-filter: blur(6px);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.197);
    margin: 30px;
    margin-bottom: 30px;
    opacity: 0;
    animation: slideModal 0.3s linear forwards;
}

@keyframes slideModal {
    0% {}

    100% {
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* Modal Buttons */
.modal-buttons button {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    color: #fff;
    border: 0;
}

#confirmButton {
    background: var(--OrangeTheme);
    transition: all 0.3s ease;
}

#cancelButton {
    background: #dadada;
    color: #525252;
}

.modal-buttons button:hover {
    cursor: pointer;
}